<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backup Application</title>
    <script src="/static/htmx.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Backup Management Application</h1>
            <nav>
                <a href="/">Main</a>
                <a href="/jobs">Backup tasks</a>
                <a href="/jobs/new">Create backup task</a>
                </nav>
        </header>
        <hr>
        <main>
            {{ template "content" . }}
        </main>
        <hr>
        <footer>
            <p>&copy; 2025 Oleksandr Pidhurskyi</p>
        </footer>
    </div>
</body>
</html>